[access]
	inheritFrom = All-Projects
[project]
	description = The Response Caching Microservice (Cacher) is built to deliver multiple mechanisms of making API calls and populating the responses into a JSON datastore
[access "refs/*"]
	read = group GitHub Replication
	owner = group ldap/onap-gerrit-aai-cacher-committers
	owner = group saml/onap-gerrit-aai-cacher-committers
